*{
    margin: 0;
    padding: 0;
}

#qd_principal{

    width: 100%;
    height: 300px;
    background-color: none;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    
}

#pos_principal{

    border: 2px solid #ffbfcb;
    border-radius: 20px;
    background-color: none;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.itens{

    border: 2px solid;
    border-radius: 10px;
    border-color: #ffbfcb;
    height: 30px;
    width: 400px;
    background-color: none;
    margin-top: 15px;

}

.txt{
    padding-left: 20px;
    padding-top: 4px;
    display: flex;
    align-items: center;
    color: #c36c8e;
}